body {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    font-family: monospace;
}

#play {
    height: 150px;
}

.start {
    background-color: black;
    padding: 5px;
    margin-left: 17%;
    margin-top: 25px;
    margin-bottom: 100px;
}

nav {
    width: 78%;
    margin-left: 11%;
    background-color: black;
    height: 100px;
}

.logo {
    font-size: 46px;
    margin-left: 15px;
}

#nav-mobile li a {
    font-size: 24px;
    margin-right: 10px;
}

.title {
    font-size: 68px;
    margin-left: 5%;
    padding-top: 25px;
    font-family: 'Monoton';
}

.flow-text {
    width: 75%;
    padding: 15px;
    color: white;
    font-size: 
}

h1 {
    margin-left: 25%;
}

.choice {
    display: inline-block;
    padding: 15px;
}

.answer-block {
    margin-left: 20%;
    margin-right: 20%;
    width: 70%;
}

.box {
    margin-top: 25px;
}

.card {
    margin-left: 25%;
    width: 700px;
}


.results img {
    width: 25%;
    padding: 15px;
}