body {
    background-image: url("../images/filmstrip.jpeg");
    background-size: cover;
    width: 100%;
    margin: 0 auto
}

#play {
    height: 100px;
}

.start {
    background-color: black;
    padding: 5px;
}

nav {
    width: 78%;
    margin-left: 11%;
    background-color: black;
    height: 100px;
}

.brand-logo {
    font-size: 36px;
}

h1 {
    margin-left: 25%;
}

.choice {
    display: inline-block;
    padding: 15px;
}

.answer-block {
    margin-left: 20%;
    width: 70%;
}

.btn-large {

}

#comedyq2, #dramaq2, #actionq2, #suspenseq2, #horrorq2, #foreignq2, #childrenq2, #otherq2, 
#comedyPre1960q3, #comedy1960q3, #comedy1990q3, #comedy2011q3,
#dramaPre1960q3, #drama1960q3, #drama1990q3, #drama2011q3,
#actionPre1960q3, #action1960q3, #action1990q3, #action2011q3,
#suspensePre1960q3, #suspense1960q3, #suspense1990q3, #suspense2011q3,
#horrorPre1960q3, #horror1960q3, #horror1990q3, #horror2011q3,
#foreignPre1960q3, #foreign1960q3, #foreign1990q3, #foreign2011q3,
#childrenPre1960q3, #children1960q3, #children1990q3, #children2011q3,
#otherPre1960q3, #other1960q3, #other1990q3, #other2011q3, 
#comedyPre1960lcq4, #comedyPre1960dcq4, #comedyPre1960rcq4, #comedy1960lcq4, #comedy1960dcq4, #comedy1960rcq4, #comedy1990lcq4, #comedy1990dcq4, #comedy1990rcq4, #comedy2011lcq4, #comedy2011dcq4, #comedy2011rcq4,
#dramaPre1960mdq4, #dramaPre1960hdq4, #dramaPre1960rdq4, #drama1960mdq4, #drama1960hdq4, #drama1960drd4, #drama1990mdq4, #drama1990hdq4, #drama1990rdq4, #drama2011mdq4, #drama2011hdq4, #drama2011rdq4,
#actionPre1960shq4, #actionPre1960q4, #actionPre1960otq4, #action1960shq4, #action1960sfq4, #action1960otq4, #action1990shq4, #action1990sfq4, #action1990otq4, #action2011shq4, #action2011sfq4, #action2011otq4,
#suspensePre1960myq4, #suspensePre1960ptq4, #suspensePre1960otq4, #suspense1960myq4, #suspense1960ptq4, #suspense1960otq4, #suspense1990myq4, #suspense1990ptq4, #suspense1990otq4, #suspense2011myq4, #suspense2011ptq4, #suspense2011otq4,
#horrorPre1960phq4, #horrorPre1960mmq4, #horrorPre1960sfq4, #horror1960phq4, #horror1960mmq4, #horror1960sfq4, #horror1990phq4, #horror1990mmq4, #horror1990sfq4, #horror2011phq4, #horror2011mmq4, #horror2011sfq4,
#foreignPre1960fcq4, #foreignPre1960fdq4, #foreignPre1960faq4, #foreign1960fcq4, #foreign1960fdq4, #foreign1960faq4, #foreign1990fcq4, #foreign1990fdq4, #foreign1990faq4, #foreign2011fcq4, #foreign2011fdq4, #foreign2011faq4,
#childrenPre1960anq4, #childrenPre1960laq4, #childrenPre1960edq4, #children1960anq4, #children1960laq4, #children1960edq4, #children1990anq4, #children1990laq4, #children1990edq4, #children2011anq4, #children2011laq4, #children1990edq4, 
#otherPre1960hmq4, #otherPre1960doq4, #otherPre1960miq4, #other1960hmq4, #other1960doq4, #other1960miq4, #other1990hmq4, #other1990doq4, #other1990miq4, #other2011hmq4, #other1990doq4, #other2011miq4 {
    display: none;
}

.results img {
    width: 25%;
    margin-left: 25%;
}